body {
    background-color: bisque;
    font-family: Bai Janjure;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: zrem;
}

footer p{
    text-align: center;
    font-size: o.6rem;
    margin-top: 0.5rem;
}